@import 'bootstrap-sprockets';
@import 'bootstrap';

.article-title, 
.article-body {

}

.article-title {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.8em;
}

.article-body {
  font-size: 1.5em;
}

#new-article-btn {
  margin-bottom: 10px;
}

.article-body {
  font-size: 1.5em;
}

#article-date {
  margin-bottom: 40px;
}

#article-date span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.article-detail-title {
  font-size: 4em;
  margin-bottom: 40px;
}